/* FONTS */
@font-face {
  font-family: PyeongChang;
  src:  url("./assets/fonts/PyeongChang.woff2") format("woff2"),
        url("./assets/fonts/PyeongChang.woff") format("woff");
}
@font-face {
  font-family: PyeongChang;
  src:  url("./assets/fonts/PyeongChang-Bold.woff2") format("woff2"),
        url("./assets/fonts/PyeongChang-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: Hanamdaum;
  src:  url("./assets/fonts/HANAMDAUM_Body.woff2") format("woff2"),
        url("./assets/fonts/HANAMDAUM_Body.woff") format("woff");
}
@font-face {
  font-family: Hanamdaum;
  src:  url("./assets/fonts/HANAMDAUM.woff2") format("woff2"),
        url("./assets/fonts/HANAMDAUM.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

/* ROOT */
:root {
  font-family: PyeongChang, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #116616;
  --color-background: #C6D2BF;
  --color-light-gray: #f0f0f0;
  --color-gray: #d9d9d9;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}